.cart {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 375px;
  height: 100vh;
  background-color: white;
  z-index: 2;
}

.cart-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cart h2 {
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  background-color: rgb(230, 170, 90);
  color: rgba(255, 255, 255, 0.9);
}

.cart-container {
  height: fit-content;
  max-height: 60%;
  overflow: auto;
  margin: 20px;
}

.cart-item {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: flex-start;
  align-items: center;
  padding: 20px 0;
  margin: 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cart-item img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.cart-item-info p:first-of-type {
  font-weight: 700;
  margin-bottom: 5px;
}

.cart-item-info p:last-of-type {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.8);
}

.cart-item-info p:last-of-type::before {
  content: "$";
}

.cart-item-counter {
  justify-self: end;
  border: 1px solid black;
  display: flex;
  gap: 10px;
}

.cart-item-counter button {
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 0.7rem;
  color: white;
  border: none;
  cursor: pointer;
}

.cart > div:last-of-type {
  text-align: center;
}

.cart > div:last-of-type p {
  font-weight: 700;
  font-size: 1.1rem;
}

.cart > div:last-of-type span::before {
  content: "$";
}

.cart > div:last-of-type button {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 0.5em 0;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.cart > div:last-of-type button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 3px 3px;
}

.checkout-btn {
  background-color: rgb(50, 202, 50);
}

.close-btn {
  background-color: rgb(245, 75, 75);
}
