.shop-header {
  padding: 100px 0;
  padding-bottom: 50px;
  background: url("../../public/shop-header-img.jpg") no-repeat center -300px fixed;
  background-size: cover;
  color: white;
  position: relative;
}

.header-wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.shop-header .bg-tint {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.shop-header h2 {
  font-size: 2.5rem;
  margin: 0;
}

.shop-header h2,
.shop-header p {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 450px) {
  .shop-header p {
    text-align: center;
  }
}
